
.intro {
  background-image: url('../public/img/459900120008.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: x-large;
  text-align: center;
  min-height: calc(100vh - 6rem);
  color: #eeb365;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.intro_bg {
  background-color: rgba($color: #474027, $alpha: 0.65);
  width: 20rem;
  padding: 1.8em 0;
  border-radius: 0.4em;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 3.4em 0;
}

.header_2 {
  color: #7B6535;
}

@media only screen and (min-width: 800px) {
  .container {
    // display: flex;
  }
}