@import 'tailwindcss/base';
@layer base {
  button {
    background-color: #1976d2 !important;
  }
}
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  line-height: 1.6;
  font-size: 0.8rem;
}

.layout {
  display: grid;
  grid-template-areas: 'sidenav content';
  grid-template-columns: 6rem 1fr ;
}

.navigation {
  grid-area: sidenav;
}

section {
  grid-area: content;
  color: #222C2A;
  font-size: 1.3em;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-weight: 900;
  line-height: 1.1;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .layout {
    grid-template-areas: "content";
    grid-template-columns: 1fr;
  }
  section {
    margin-left: 0;
  }
}

.wrapper {
    overflow: hidden;
    perspective: 1px;
}


.parallax-section {
    border-bottom: #f1f1f1 solid 5px;
    @apply p-0 flex relative;
    z-index: -20;
    &__bg {
      @apply items-center content-center h-screen w-screen bg-cover bg-center object-cover ;
    }
    &__textarea {
        @apply w-full p-4 absolute inset-y-1/2	;
        &__heading {
            background-color: rgba($color: #000000, $alpha: 0.5);
            @apply text-stone-50 m-0 text-5xl text-center uppercase py-4;
            text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.4);
        }
    }
}

a{
  text-decoration: none;
  color: inherit;
}

.hero_area {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba($color: #000000, $alpha: 0.4);
  padding: 2rem;
  min-height: 8rem;
  font-family: 'Mogra', cursive;
  /* font-family: 'VT323', monospace; */
  cursor: pointer;
  border-top: 2px solid rgba(255, 49, 49, 0.5);
  border-right: 2px solid rgba(0, 255, 255, 0.5);
  border-bottom: 2px solid rgba(57, 255, 20, 0.5);
  border-left: 2px solid rgba(255, 255, 113, 0.5);

  span {
    position: absolute;
    border-radius: 100vmax;
  }
  &__top {
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background: linear-gradient(
        90deg,
        transparent 50%,
        rgba(255, 49, 49, 0.5),
        rgb(255, 49, 49)
    );
  }
  &__bottom {
    right: 0;
    bottom: 0;
    height: 10px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 20),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }
  &__right {
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255)
    );
  }

  &__left {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 113),
      rgba(255, 255, 113, 0.5),
      transparent 70%
    );
  }

  &__top {
    animation: animateTop 3s ease-in-out infinite;
  }

  &__bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }

  &__right {
    animation: animateRight 3s ease-in-out infinite;
  }

  &__left {
    animation: animateLeft 3s ease-in-out infinite;
  }
}

@keyframes animateTop {
25% {
  width: 100%;
  opacity: 1;
}

30%,
100% {
  opacity: 0;
}
}

@keyframes animateBottom {
0%,
50% {
  opacity: 0;
  width: 0;
}

75% {
  opacity: 1;
  width: 100%;
}

76%,
100% {
  opacity: 0;
}
}

@keyframes animateRight {
0%,
25% {
  opacity: 0;
  height: 0;
}

50% {
  opacity: 1;
  height: 100%;
}

55%,
100% {
  height: 100%;
  opacity: 0;
}
}

@keyframes animateLeft {
0%,
75% {
  opacity: 0;
  bottom: 0;
  height: 0;
}

100% {
  opacity: 1;
  height: 100%;
}
}