
.home_bg_body {
    @apply bg-no-repeat bg-cover w-full h-screen ;
}

.hero_bg {
    overflow-y: hidden;
    max-width: 100%;
}

.container {
    @apply w-full h-screen grid place-content-center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .container {
        height: calc(100vh - 6rem);
    }
}
