
.home_bg_body {
    @apply bg-[url('/img/459900110001.jpg')]  bg-no-repeat bg-cover w-full h-screen ;
}

.hero_bg {
    // height: 100vh;
    overflow-y: hidden;
    max-width: 100%;
}

.dust {
    @apply w-full h-screen grid place-content-center;
    z-index: 10000;
}

